@font-face {
  font-family: 'JannaLT';
  src: url("../fonts/ArbFONTS-ArbFONTS-Janna-LT-Regular.ttf");
  font-weight: 400
}

@font-face {
  font-family: 'JannaLT';
  src: url("../fonts/ArbFONTS-ArbFONTS-Janna-LT-Bold.ttf");
  font-weight: 600
}

body {
  font-family: 'JannaLT', 'sans-serif';
}